/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Oufit", sans-serif;
  background-color: #d5e1ef;
  width: 100%;
  height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
  width: 20rem;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.qr-card__img {
    width: 100%;
    border-radius: 10px;
}

.qr-card__info{
    margin-top: 1.5rem;
    padding: 0 1rem;
    text-align: center;
}

.qr-card__info .title {
  font-size: 1.375rem;
  line-height: 1.2;
  color: #1F314F;
  margin-bottom: 1rem;
}

.qr-card__info .description {
  font-size: 0.938rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #68778D;
}
